*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.links a{
    margin: 50px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.links a:hover{
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    text-decoration-color: gray;
}
.img{
    display: flex;
    align-items: center;
}
.img *{
    margin-right: 20px;
}
.img button{
    padding-bottom: 10px;
    color: gray;
    border-radius: 50px;
    width: 150px;
    text-align: left;
    height: 35px;
    display: flex;
    align-items: center;
    border: none;
}
.img a{
    text-decoration: none;
}
.img button img{
    margin-left: 10px;
    margin-top: 10px;
}
.title img{
    margin-left: 280px;
}
.product{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 280px;
    height: 50px;
    width: 80px;
    background-color: rgb(219, 197, 197);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-duration: 1s;
    border-radius: 5px;
}
.product span{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
.product:hover{
    width: 60%;
    transition-duration: 1s;
}
#last{
    margin-right: 20px;
}
.product a{
    opacity: 0;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-weight: 600;
}
.product:hover a{
    opacity: 1;
}
.scrool{
    margin-left: 280px;
    margin-top: 50px;
}
.scrool img{
    margin: 10px;
    border-radius: 5px;    
    transition-duration: 1s;

}
.scrool img:hover{
    width: 290px;
    height: 290px;
    transition-duration: 1s;
    cursor: pointer;

}
.product-container{
    display: flex;
    flex-direction: column;
}
.shoes{
    margin-right: 250px;
    margin-bottom: 150px;
    margin-left: 280px;
    display: flex;
    flex-direction: column;

}
.shoes-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.shoes-container button{
    margin-bottom: 20px;
}
.shoes img:hover{
    transition-duration: 1s;
    width: 420px;
    height: 420px;
    cursor: pointer;

}
#first{
    left: 550px;
    top: 1400px;
    width: 250px;
    height: 50px;
    border-radius: 35px;
    border: none;
    background-color: rgb(30, 30, 30);
    color: white;
    transition-duration: 1s;
    font-size: 20px;
}
#first:hover{
    color: yellow;
}
#cart:hover{
    color: yellow;
}
#order:hover{
    color: yellow;
}
.shoes button:hover{
    box-shadow:inset 0px 0px 20px white;
}
.shoes a{
    text-decoration: none;
    color: black;
}
.shoes h2{
    margin-left: 10px;
}

.pants a{
    text-decoration: none;color: black;
}
.shoes img{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    margin: 10px;
    transition-duration: 1s;

}
.pants{
    margin-left: 280px;
}

.pants img{
    width: 280px;
    height: 280px;
    margin: 10px;
    border-radius: 5px;
    transition-duration: 1s;
}
.pants h2{
    margin-left: 10px;
}
.pants img:hover{
    transition-duration: 1s;
    width: 295px;
    height: 295px;
    cursor: pointer;
}

.shirt{
    margin-left: 280px;
}
.slogan{
    width: 90%;
    height: 700px;
    margin-left: 140px;
    position: relative;
}
.buy{
    display: flex;
    flex-direction: column;
}
#cart{
    width: 100px;
    height: 35px;
    border-radius: 35px;
    border: none;
    background-color: rgb(30,30,30);
    color: white;
    font-size: 17px;
    transition-duration: 1s;
    margin-right: 35px;

}
#order{
    width: 100px;
    height: 35px;
    border-radius: 35px;border: none;
    background-color: rgb(30,30,30);
    color: white;
    font-size: 17px;
    transition-duration: 1s;
}
.slogan p{
    left: 400px;
    bottom: 550px;
    font-size: 50px;
    font-weight: 900;
    opacity: 0.8;
    position: absolute;
    left: 450px;
}
.shirt img{
    width:  735px;
    height: 600px;
    margin: 10px;
    border-radius: 5px;
    transition-duration: 1s;
}
.shirt img:hover{
    transition-duration: 1s;
    width: 745px;
    height: 610px;
    cursor: pointer;
}
.shirt a{
    text-decoration: none;
    color: black;
}
.shirt h2{
    margin-left: 10px;
}
.exclusive{
    margin-left: 285px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.exclusive-product img{
    width: 400px;
    height: 400px;
    transition-duration: 1s;
    border-radius: 5px;
}
.exclusive-product img:hover{
    width: 420px;
    height: 420px;

}
.exclusive-product{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.exclusive a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.exclusiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.exclusiv button{
    width: 200px;
    height: 45px;
    border-radius: 35px;
    border: none;
    background-color: rgb(30,30,30);
    color: white;
    transition-duration: 1s;
}
.exclusiv button:hover{
    box-shadow: inset 0px 0px 20px white;
    transition-duration: 1s;
    color: yellow;
}
.contact-container{
    width: 100%;
    height: 400px;
    background-color: rgb(17,17,17);
}
.columns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.columns a{
    text-decoration: none;
    color: rgb(126,126,126);
    font-weight: 800;
}
.columns div > *:first-child{
    color: white;
}
.first-column{
    display: flex;
    flex-direction: column;
}
.second-column{
    display: flex;
    flex-direction: column;
}
.third-column{
    display: flex;
    flex-direction: column;

}
.fourth-column{
    display: flex;
    flex-direction: column;
}
.soc-media img{
    width: 35px;
    height: 35px;
}
.soc-media{
    display: flex;
    gap: 20px;
}